@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;500;700&display=swap');
body{
	background-color: hsl(30, 38%, 92%);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
html{
	height: 100%;
}

*{
	box-sizing: border-box;
	overflow: hidden;
}

.perfume{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
text-shadow: 0 0 1.5px;
letter-spacing: 5px;
color: hsl(223,3%,57%);
}

.title{
	font-size: 18px;
	font-family: 'Fraunces', serif;
	color: hsl(218,6%,25%);
	font-weight: 500;
}

.text{
	color: hsl(223,3%,57%);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.price1{
	font-size: 40px;
	color: green;
	font-weight: bold;
	color: hsl(160,36%,37%);
}

.price2{
	text-decoration: line-through;
	font-family: 'Fraunces', serif;
	color: hsl(223,3%,57%);
}

.flex{
	display: flex;
	align-items: center;
	max-width: 600px;
	min-width: 400px;
	border: 1px solid hsl(225,7%,89%);
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3%;
	overflow: hidden;
	flex-shrink: 1;
}

.body_{
	padding-left: 25px;
	padding-right:25px;
	width: 100%;
}

.image{
	display: block;
	height: 100%;
	max-width: 100%;
	object-fit:cover;
}

.prices{
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: 'Fraunces', serif;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn{
	background-color: hsl(160,36%,37%);
	font-size: 14px;
	border: none;
	width: 100%;
	margin-top: 15px;
	padding: 12px 15px;
	color: white;
	text-align: center;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
}

svg{
	margin-right: 10px;
}

.btn:hover{
	font-weight: bold;
	cursor: pointer;
}

@media(max-width: 600px){

	.flex{
		display: flex;
		flex-direction: column;
		margin: 30px 20px 50px 20px;
		max-width: 80%;
		padding-bottom: 1em;
		
	}

	.body_{
		padding: 8px;
		padding-left: 1.6em;
		padding-right:1.6em
		
	}

	.title h1{
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.perfume{
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 1em;
	}

	.btn{
		padding-top: 18px;
		padding-bottom: 18px;
		margin-top: 20px;
	}
	.prices{
		margin-top: 25px;
	}
	.text{
		margin-top: 20px;
		font-size: 1em;
	}

}
